body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

button {
    background-color: white;
}

.title-of-page {
    font-size: 44px;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

.icon-box {
    word-spacing: 20px;
}

.reset-button,
.auto-button {
    padding: 8px 13px;
    font-size: 15px;
    border: none;
}

.move-icon {
    height: 50px;
}

.move-button {
    background: transparent;
    border: 2px solid white;
    border-style: dotted;
    padding: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
}

.result-icon {
    height: 90px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.reset-button,
.auto-button {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
}


.score-display {
    word-spacing: 10px;
    letter-spacing: 2px;
}

@media (max-width : 430px) {
    body {
        height: 1000px;
    }
}

